<section class="max-w-screen-xl h-full mx-auto px-4">
  <header class="flex flex-wrap md:flex-no-wrap justify-between items-center">
    <div class="header-title w-full mb-4">
      <h1 class="m-0 p-0 text-xl">{{ heading }}</h1>
      <mod-breadcrumbs
        class="mt-2"
        [breadcrumbs]="breadcrumbs"
      ></mod-breadcrumbs>
    </div>
  </header>
  <div
    class="w-full h-24 rounded-sm bg-neutral opacity-100 text-white flex flex-row content-center items-center justify-between px-5 my-3"
    *ngIf="step > 0"
  >
    <div class="font-bold text-2xl">{{ inputText }}</div>
    <button
      class="flex flex-row w-1/12 bg-on-primary opacity-50"
      (click)="onEdit()"
    >
      <div class="text-on-neutral rounded-sm m-1 text-center">
        <i class="mdi mdi-pencil mdi-18px"></i>
      </div>
      <div class="text-on-neutral rounded-sm m-auto text-center" i18n>
        Edit
      </div>
    </button>
  </div>
  <ftq-progress-tabs
    [inputArray]="routingArray"
    [activeStep]="step"
    (navigate)="onNavigate($event)"
    *ngIf="step > 0"
  >
  </ftq-progress-tabs>
  <router-outlet></router-outlet>
</section>
