<div
  class="language-tasks-details-header w-full my-0 mx-auto flex items-center justify-space-between"
>
  <div class="left-section flex-1">
    <h3
      class="title font-bold text-2xl leading-7 font-display text-on-background m-0 mb-3"
    >
      {{
        pageType === 0
          ? 'Language Task Details'
          : pageType === 1
          ? 'Edit Language Task'
          : 'Create Language Task'
      }}
    </h3>
    <mod-breadcrumbs class="mt-2" [breadcrumbs]="breadcrumbs"></mod-breadcrumbs>
  </div>
  <div class="right-section flex items-center">
    <button
      class="button text-on-neutral mr-6 flex items-center leading-7"
      (click)="editTask()"
      *ngIf="pageType === 0"
    >
      <span class="btn-label">Edit Task</span>
    </button>
    <button
      class="button bg-secondary text-on-primary leading-7"
      [routerLink]="['/filter-quality/language-tasks/create']"
      *ngIf="pageType !== 2"
    >
      <span class="btn-label">New Task</span>
    </button>
  </div>
</div>
