<!-- <span *ngIf="label" [attr.aria-label]="label" id="label">{{ label }}</span> -->
<div class="flex" role="group" [attr.aria-label]="label">
  <button
    *ngFor="let option of options"
    class="button py-1 rounded-none first:rounded-l last:rounded-r mr-1 {{
      getButtonClass(option)
    }}"
    [ngClass]="{
      'py-1 px-2 rounded leading-snug hover:bg-neutral hover:text-on-neutral':
        type === 'secondary',
      disabled: readOnly
    }"
    (click)="onOptionButtonClicked(option.value)"
  >
    <span class="font-display font-semibold text-sm">
      {{ option.label }}
    </span>
    <i
      *ngIf="option.icon"
      class="mdi mdi-{{ option.icon }}"
      [ngClass]="{ 'text-2xl': type === 'secondary' }"
    ></i>
  </button>
</div>
