<div>
  <mod-loading-indicator
    *ngIf="loading || error"
    [loading]="loading"
    [error]="error"
  >
  </mod-loading-indicator>

  <mod-example
    *ngFor="let example of examples"
    class="block mb-2 last:mb-0"
    [example]="example"
    [highlightText]="highlightText || searchText"
    [readOnly]="readOnly"
    [showTopics]="showTopics"
    (exampleDeleted)="(exampleDeleted)"
    (exampleRedacted)="(exampleRedacted)"
  ></mod-example>

  <span
    *ngIf="!loading && examples.length === 0"
    class="text-on-background-muted"
    >No examples</span
  >

  <button
    *ngIf="!readOnly"
    class="button block mt-4"
    [disabled]="gotAllExamples"
    (click)="moreExamples()"
  >
    More Examples
  </button>
</div>
